<footer class="site-footer">

  &copy; {{ site.time | date: '%Y' }} <a href="{{ '/' | prepend: site.baseurl }}">House on a Hill</a>
  &bull; <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
  &bull; <a href="{{ '/impressum' | prepend: site.baseurl }}">Impressum</a>
  &bull; <a href="{{ '/datenschutz' | prepend: site.baseurl }}">Datenschutz</a>

  <script type="text/javascript" src="{{ "/js/vendor/modernizr-custom.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
</footer>
