---
title: title
image: cover_plain_mfkph2
color: 3d7586
hide_nav: false
---

<nav hoah-nav ng-class="{'nav-float': !top}">
	<ul>
		{% for section in site.home_sections %}
		{% if section.hide_nav != false %}
		<li>
			<a href="#{{ section.title }}">{{ section.nav_title }}</a>
		</a>
		{% endif %}
		{% endfor %}
	</ul>
</nav>

<h1 class="title">
	{% include logo-white.svg %}
</h1>

<div class="title-social">
  <a href="https://www.facebook.com/houseonahill">{% include facebook.svg %}</a>
  <a href="https://www.youtube.com/channel/UC0sxTGcp5Xw1LBrXreEjsAQ">{% include youtube.svg %}</a>
</div>

<!-- <h2>Play</h2> -->
<br />
